@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&family=Kaushan+Script&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/***
 *       _____ _____ _____ _   _ _    _ _____    _____        _____ ______ 
 *      / ____|_   _/ ____| \ | | |  | |  __ \  |  __ \ /\   / ____|  ____|
 *     | (___   | || |  __|  \| | |  | | |__) | | |__) /  \ | |  __| |__   
 *      \___ \  | || | |_ | . ` | |  | |  ___/  |  ___/ /\ \| | |_ |  __|  
 *      ____) |_| || |__| | |\  | |__| | |      | |  / ____ \ |__| | |____ 
 *     |_____/|_____\_____|_| \_|\____/|_|      |_| /_/    \_\_____|______|
 *                                                                         
 *                                                                         
 */

.signupPage {
  background-color: #f5e3cd;
  min-height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-container h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 36px;
  text-align: center;
}

.head-container p {
  text-align: center;
  color: rgba(0, 0, 0, 0.64);
}

.signupPage form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.signupPage form input {
  height: 38px;
  width: 300px;
  border: 1px solid #a2a2a2;
  padding: 10px;
  font-size: 16px;
}

.signupPage form input::placeholder {
  color: #686363;
  font-size: 16px;
}

.signupPage .btn-container button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 24px;
  width: 240px;
  padding: 10px 0;
  background-color: #1877f2;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}

.signupPage .to-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupPage .to-login-container p {
  margin-bottom: 0;
}

.signupPage .to-login-container a {
  text-decoration: none;
  color: #1877f2;
  font-weight: 600;
}

/***
 *      _      ____   _____ _____ _   _   _____        _____ ______ 
 *     | |    / __ \ / ____|_   _| \ | | |  __ \ /\   / ____|  ____|
 *     | |   | |  | | |  __  | | |  \| | | |__) /  \ | |  __| |__   
 *     | |   | |  | | | |_ | | | | . ` | |  ___/ /\ \| | |_ |  __|  
 *     | |___| |__| | |__| |_| |_| |\  | | |  / ____ \ |__| | |____ 
 *     |______\____/ \_____|_____|_| \_| |_| /_/    \_\_____|______|
 *                                                                  
 *                                                                  
 */

.loginPage {
  background-color: #f5e3cd;
  min-height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginPage h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 36px;
  text-align: center;
}

.loginPage form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.loginPage form input {
  height: 38px;
  width: 300px;
  border: 1px solid #a2a2a2;
  padding: 10px;
  font-size: 16px;
}

.loginPage form input::placeholder {
  color: #686363;
  font-size: 16px;
}

.loginPage .btn-container button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 24px;
  width: 240px;
  padding: 10px 0;
  background-color: #1877f2;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}

.loginPage .to-signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginPage .to-signup-container p {
  margin-bottom: 0;
}

.loginPage .to-signup-container a {
  text-decoration: none;
  color: #1877f2;
  font-weight: 600;
}

/***
 *      _   _     __      ______          _____  
 *     | \ | |   /\ \    / /  _ \   /\   |  __ \ 
 *     |  \| |  /  \ \  / /| |_) | /  \  | |__) |
 *     | . ` | / /\ \ \/ / |  _ < / /\ \ |  _  / 
 *     | |\  |/ ____ \  /  | |_) / ____ \| | \ \ 
 *     |_| \_/_/    \_\/   |____/_/    \_\_|  \_\
 *                                               
 *                                               
 */

.navbar {
  background-color: #e8ceae;
  width: 100%;
  padding: 16px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.navbar a,
.navbar img {
  width: 24px;
  height: 24px;
}

.navbar button {
  background: transparent;
  border: none;
  padding: 0;
}

.navbar button img {
  display: block;
}

/***
 *               _____  _____    _____   ____  _____  _    _ _____  
 *         /\   |  __ \|  __ \  |  __ \ / __ \|  __ \| |  | |  __ \ 
 *        /  \  | |  | | |  | | | |__) | |  | | |__) | |  | | |__) |
 *       / /\ \ | |  | | |  | | |  ___/| |  | |  ___/| |  | |  ___/ 
 *      / ____ \| |__| | |__| | | |    | |__| | |    | |__| | |     
 *     /_/    \_\_____/|_____/  |_|     \____/|_|     \____/|_|     
 *                                                                  
 *                                                                  
 */

.inactive {
  visibility: hidden;
}

.add-popup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  bottom: 100px;
  right: 30px;
  background-color: #e8ceae;
  padding: 16px 50px 16px 16px;
  border-radius: 10px;
}

.add-popup a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.add-popup a img {
  width: 24px;
}

.tip {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #e8ceae;
  position: fixed;
  bottom: 60px;
  right: 30px;
}

/***
 *      _    _  ____  __  __ ______ _____        _____ ______   ______ __  __ _____ _________     __
 *     | |  | |/ __ \|  \/  |  ____|  __ \ /\   / ____|  ____| |  ____|  \/  |  __ \__   __\ \   / /
 *     | |__| | |  | | \  / | |__  | |__) /  \ | |  __| |__    | |__  | \  / | |__) | | |   \ \_/ / 
 *     |  __  | |  | | |\/| |  __| |  ___/ /\ \| | |_ |  __|   |  __| | |\/| |  ___/  | |    \   /  
 *     | |  | | |__| | |  | | |____| |  / ____ \ |__| | |____  | |____| |  | | |      | |     | |   
 *     |_|  |_|\____/|_|  |_|______|_| /_/    \_\_____|______| |______|_|  |_|_|      |_|     |_|   
 *                                                                                                  
 *                                                                                                  
 */

.homepage {
  background-color: #f5e3cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.homepage .tabs-container {
  padding-top: 16px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.homepage .tabs-container a,
.homepage .tabs-container img {
  width: 24px;
  height: 24px;
}

.homepage h1 {
  background-color: #e8ceae;
  width: 100%;
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 36px;
  margin-bottom: 20px;
}

.homepage .alert {
  color: rgba(0, 0, 0, 0.64);
  font-size: 24px;
  text-align: center;
  margin-top: 100px;
}

.new-group-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.new-group-container img {
  background-color: #d19b5d;
  border-radius: 50%;
}

.new-group-container p {
  font-size: 20px;
  font-weight: 600;
}

/***
 *      _    _  ____  __  __ ______ _____        _____ ______   __  __ ______ _____ _____           _____ 
 *     | |  | |/ __ \|  \/  |  ____|  __ \ /\   / ____|  ____| |  \/  |  ____|  __ \_   _|   /\    / ____|
 *     | |__| | |  | | \  / | |__  | |__) /  \ | |  __| |__    | \  / | |__  | |  | || |    /  \  | (___  
 *     |  __  | |  | | |\/| |  __| |  ___/ /\ \| | |_ |  __|   | |\/| |  __| | |  | || |   / /\ \  \___ \ 
 *     | |  | | |__| | |  | | |____| |  / ____ \ |__| | |____  | |  | | |____| |__| || |_ / ____ \ ____) |
 *     |_|  |_|\____/|_|  |_|______|_| /_/    \_\_____|______| |_|  |_|______|_____/_____/_/    \_\_____/ 
 *                                                                                                        
 *                                                                                                        
 */
.medias-container {
  margin-top: 20px;
  margin-bottom: 80px;
}

.post {
  background-color: #e8ceae;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  position: relative;
}

.post .whos-post {
  display: flex;
  align-items: center;
}

.post .whos-post img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid blue;
}

.post .whos-post h3 {
  font-size: 16px;
  margin-left: 10px;
  font-weight: 700;
}

.post .media {
  max-width: 100%;
  height: auto;
}

.post .multiple-medias-icon {
  width: 20px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.post p {
  margin-block: auto;
}

/***
 *      ______ _    _ _      _       _____  _____ _____  ______ ______ _   _   _____   ____   _____ _______ 
 *     |  ____| |  | | |    | |     / ____|/ ____|  __ \|  ____|  ____| \ | | |  __ \ / __ \ / ____|__   __|
 *     | |__  | |  | | |    | |    | (___ | |    | |__) | |__  | |__  |  \| | | |__) | |  | | (___    | |   
 *     |  __| | |  | | |    | |     \___ \| |    |  _  /|  __| |  __| | . ` | |  ___/| |  | |\___ \   | |   
 *     | |    | |__| | |____| |____ ____) | |____| | \ \| |____| |____| |\  | | |    | |__| |____) |  | |   
 *     |_|     \____/|______|______|_____/ \_____|_|  \_\______|______|_| \_| |_|     \____/|_____/   |_|   
 *                                                                                                          
 *                                                                                                          
 */

.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 80%;
  max-height: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-media {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: relative;
}

/***
 *      _    _  ____  __  __ ______ _____        _____ ______   ________      ________ _   _ _______ _____ 
 *     | |  | |/ __ \|  \/  |  ____|  __ \ /\   / ____|  ____| |  ____\ \    / /  ____| \ | |__   __/ ____|
 *     | |__| | |  | | \  / | |__  | |__) /  \ | |  __| |__    | |__   \ \  / /| |__  |  \| |  | | | (___  
 *     |  __  | |  | | |\/| |  __| |  ___/ /\ \| | |_ |  __|   |  __|   \ \/ / |  __| | . ` |  | |  \___ \ 
 *     | |  | | |__| | |  | | |____| |  / ____ \ |__| | |____  | |____   \  /  | |____| |\  |  | |  ____) |
 *     |_|  |_|\____/|_|  |_|______|_| /_/    \_\_____|______| |______|   \/   |______|_| \_|  |_| |_____/ 
 *                                                                                                         
 *                                                                                                         
 */

.header-events {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding-left: 40px;
}

.header-events img {
  width: 24px;
  height: 26px;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.filters span {
  display: flex;
  align-items: center;
}

.filters span img {
  width: 20px;
}

.homepage .events-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 116px;
  margin-top: 24px;
}

.homepage .events-container .event {
  width: 170px;
}

.homepage .events-container .event p {
  color: rgba(0, 0, 0, 0.57);
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}

.homepage .event-card {
  width: 170px;
  border: 1px solid #1877f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 15px 15px -4px rgba(0, 0, 0, 0.8);
}

.homepage .event-card h3 {
  margin: 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
  background-color: white;
  flex: 1;
  line-height: 40px;
  border-radius: 10px 10px 0 0;
  border: 1px solid #1877f2;
}

.homepage .event-card img {
  width: 100%;
  height: 250px;
}

.homepage .event-card a {
  width: 100%;
  flex: 1;
  background-color: #1877f2;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 0 0 10px 10px;
  border: 1px solid #1877f2;
  line-height: 40px;
}


/* 
 ______               _     _____       _        _ _       _____                 
|  ____|             | |   |  __ \     | |      (_) |     |  __ \                
| |____   _____ _ __ | |_  | |  | | ___| |_ __ _ _| |___  | |__) |_ _  __ _  ___ 
|  __\ \ / / _ \ '_ \| __| | |  | |/ _ \ __/ _` | | / __| |  ___/ _` |/ _` |/ _ \
| |___\ V /  __/ | | | |_  | |__| |  __/ || (_| | | \__ \ | |  | (_| | (_| |  __/
|______\_/ \___|_| |_|\__| |_____/ \___|\__\__,_|_|_|___/ |_|   \__,_|\__, |\___|
                                                                       __/ |     
                                                                      |___/       */

.details-page {
  background-color: #f5e3cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.event-details-header{
  display: flex; 
  flex-direction : row;
  margin : 40px 0px 10px 0px;
  
}
.details-page h1{
  font-size: 1.8rem;
}

.event-details-header img{
  height: 200px;
  border-radius: 10px;
  margin-right:20px;
}
.details-page .btn-container button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 24px;
  width: 240px;
  padding: 10px 0;
  background-color: #1877f2;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}

/***
 *      _____  _____   ____  ______ _____ _      ______   ________      ________ _   _ _______ _____ 
 *     |  __ \|  __ \ / __ \|  ____|_   _| |    |  ____| |  ____\ \    / /  ____| \ | |__   __/ ____|
 *     | |__) | |__) | |  | | |__    | | | |    | |__    | |__   \ \  / /| |__  |  \| |  | | | (___  
 *     |  ___/|  _  /| |  | |  __|   | | | |    |  __|   |  __|   \ \/ / |  __| | . ` |  | |  \___ \ 
 *     | |    | | \ \| |__| | |     _| |_| |____| |____  | |____   \  /  | |____| |\  |  | |  ____) |
 *     |_|    |_|  \_\\____/|_|    |_____|______|______| |______|   \/   |______|_| \_|  |_| |_____/ 
 *                                                                                                   
 *                                                                                                   
 */

.profile {
  background-color: #f5e3cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile .head {
  position: relative;
  width: 100%;
}

.profile .head .logout {
  width: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.profile .head h2 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
}

.profile .head .profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.profile .head a {
  text-decoration: none;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  line-height: 30px;
  width: 220px;
  padding: 10px 0;
  background-color: #1877f2;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}

.profile .tabs-container {
  padding-top: 16px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.profile .tabs-container a,
.profile .tabs-container img {
  width: 24px;
  height: 24px;
}

.profile .events-container {
  margin-top: 20px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.profile .events-container .event-card {
  width: 170px;
  border: 1px solid #1877f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 15px 15px -4px rgba(0, 0, 0, 0.8);
}

.profile .events-container .event-card h3 {
  margin: 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
  background-color: white;
  flex: 1;
  line-height: 40px;
  border-radius: 10px 10px 0 0;
  border: 1px solid #1877f2;
}

.profile .events-container .event-card img {
  width: 100%;
  height: 250px;
}

.profile .events-container .event-card a {
  width: 100%;
  flex: 1;
  background-color: #1877f2;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 0 0 10px 10px;
  border: 1px solid #1877f2;
  line-height: 40px;
}

/***
 *      _____  _____   ____  ______ _____ _      ______   __  __ ______ _____ _____           _____ 
 *     |  __ \|  __ \ / __ \|  ____|_   _| |    |  ____| |  \/  |  ____|  __ \_   _|   /\    / ____|
 *     | |__) | |__) | |  | | |__    | | | |    | |__    | \  / | |__  | |  | || |    /  \  | (___  
 *     |  ___/|  _  /| |  | |  __|   | | | |    |  __|   | |\/| |  __| | |  | || |   / /\ \  \___ \ 
 *     | |    | | \ \| |__| | |     _| |_| |____| |____  | |  | | |____| |__| || |_ / ____ \ ____) |
 *     |_|    |_|  \_\\____/|_|    |_____|______|______| |_|  |_|______|_____/_____/_/    \_\_____/ 
 *                                                                                                  
 *                                                                                                  
 */

.profile .posts-profile-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 57px;
}

.profile .posts-profile-container .post {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  width: 125px;
  height: 125px;
}

.profile .posts-profile-container .post .media {
  width: 100%;
  height: 100%;
}

.profile .posts-profile-container .post .multiple-medias-icon {
  position: absolute;
  top: 3px;
  right: 3px;
}

/***
 *      _____  _____   ____  ______ _____ _      ______   _____  _____   ____       _ ______ _____ _______ _____ 
 *     |  __ \|  __ \ / __ \|  ____|_   _| |    |  ____| |  __ \|  __ \ / __ \     | |  ____/ ____|__   __/ ____|
 *     | |__) | |__) | |  | | |__    | | | |    | |__    | |__) | |__) | |  | |    | | |__ | |       | | | (___  
 *     |  ___/|  _  /| |  | |  __|   | | | |    |  __|   |  ___/|  _  /| |  | |_   | |  __|| |       | |  \___ \ 
 *     | |    | | \ \| |__| | |     _| |_| |____| |____  | |    | | \ \| |__| | |__| | |___| |____   | |  ____) |
 *     |_|    |_|  \_\\____/|_|    |_____|______|______| |_|    |_|  \_\\____/ \____/|______\_____|  |_| |_____/ 
 *                                                                                                               
 *                                                                                                               
 */

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.projects-container .project-card {
  border: 1px solid #1877f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 15px 15px -4px rgba(0, 0, 0, 0.8);
}

.projects-container .project-card h3 {
  flex: 1;
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  line-height: 44px;
  border-radius: 10px 10px 0 0;
}

.projects-container .project-card img {
  width: 100%;
}

.projects-container .project-card .btns-container {
  flex: 1;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  line-height: 44px;
  border-radius: 0 0 10px 10px;
}

.projects-container .project-card .btns-container a {
  text-decoration: none;
  background-color: #1877f2;
  color: white;
  padding: 0 50px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.projects-container .project-card .btns-container button {
  background-color: black;
  color: white;
  border: none;
  padding: 0 50px;
  border-radius: 20px;
}

/***
 *      _   _  ____ _______ _____ ______ _____ _____       _______ _____ ____  _   _  _____   _____        _____ ______ 
 *     | \ | |/ __ \__   __|_   _|  ____|_   _/ ____|   /\|__   __|_   _/ __ \| \ | |/ ____| |  __ \ /\   / ____|  ____|
 *     |  \| | |  | | | |    | | | |__    | || |       /  \  | |    | || |  | |  \| | (___   | |__) /  \ | |  __| |__   
 *     | . ` | |  | | | |    | | |  __|   | || |      / /\ \ | |    | || |  | | . ` |\___ \  |  ___/ /\ \| | |_ |  __|  
 *     | |\  | |__| | | |   _| |_| |     _| || |____ / ____ \| |   _| || |__| | |\  |____) | | |  / ____ \ |__| | |____ 
 *     |_| \_|\____/  |_|  |_____|_|    |_____\_____/_/    \_\_|  |_____\____/|_| \_|_____/  |_| /_/    \_\_____|______|
 *                                                                                                                      
 *                                                                                                                      
 */

.notif-page {
  background-color: #f5e3cd;
  min-height: 100vh;
}

.notif-page h2 {
  margin-top: 0;
  padding-left: 10px;
}

.notif-container {
  padding: 0 10px;
  margin-bottom: 80px;
}

.notif-container .outline {
  height: 1px;
  width: 70%;
  margin: 5px auto 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.notif-page .notifs h3 {
  margin-bottom: 0;
}

.notif-page .notif {
  display: flex;
  align-items: center;
  gap: 5px;
}

.notif-page .notif img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid blue;
}

.notif-page .notif p {
  font-size: 14px;
}

.notif-page .notif p .creator {
  font-weight: 600;
}

.notif-page .notif p .time {
  font-weight: 600;
  color: #d19b5d;
}

.notif-page .notif a {
  display: block;
  text-decoration: none;
  background-color: #1877f2;
  color: white;
  width: 90px;
  text-align: center;
  padding: 5px 0;
  margin-left: auto;
  border-radius: 20px;
}

/***
 *       _____ ______          _____   _____ _    _   _____        _____ ______ 
 *      / ____|  ____|   /\   |  __ \ / ____| |  | | |  __ \ /\   / ____|  ____|
 *     | (___ | |__     /  \  | |__) | |    | |__| | | |__) /  \ | |  __| |__   
 *      \___ \|  __|   / /\ \ |  _  /| |    |  __  | |  ___/ /\ \| | |_ |  __|  
 *      ____) | |____ / ____ \| | \ \| |____| |  | | | |  / ____ \ |__| | |____ 
 *     |_____/|______/_/    \_\_|  \_\\_____|_|  |_| |_| /_/    \_\_____|______|
 *                                                                              
 *                                                                              
 */

.searchPage {
  background-color: #f5e3cd;
  min-height: 100vh;
}

.searchPage h1 {
  background-color: #e8ceae;
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 5px 0;
}

.searchPage .searchBar label {
  display: flex;
  align-items: center;
}

.searchPage input {
  width: 270px;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  margin-left: 5px;
  padding-left: 32px;
  font-size: 22px;
  position: relative;
}

.searchPage .searchBar img {
  width: 24px;
  position: absolute;
  left: 10px;
  top: 111px;
}

.searchPage .searchBar button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.searchPage .searchResults {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.searchPage .searchResults .searchResult {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}

.searchPage .searchResults .searchResult img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #1877f2;
}

.searchPage .searchResults .searchResult a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 18px;
}

/***
 *      _____ _   ___      _______ _______    _______ _____ ____  _   _   _____        _____ ______ 
 *     |_   _| \ | \ \    / /_   _|__   __|/\|__   __|_   _/ __ \| \ | | |  __ \ /\   / ____|  ____|
 *       | | |  \| |\ \  / /  | |    | |  /  \  | |    | || |  | |  \| | | |__) /  \ | |  __| |__   
 *       | | | . ` | \ \/ /   | |    | | / /\ \ | |    | || |  | | . ` | |  ___/ /\ \| | |_ |  __|  
 *      _| |_| |\  |  \  /   _| |_   | |/ ____ \| |   _| || |__| | |\  | | |  / ____ \ |__| | |____ 
 *     |_____|_| \_|   \/   |_____|  |_/_/    \_\_|  |_____\____/|_| \_| |_| /_/    \_\_____|______|
 *                                                                                                  
 *                                                                                                  
 */

.invitationPage {
  background-color: #f5e3cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invitationPage .profilePic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #1877f2;
  margin-bottom: 32px;
}

.invitationPage form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.invitationPage form .invitation {
  margin-bottom: 24px;
}

.invitationPage form .invitation input {
  width: 260px;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  margin-left: 5px;
  padding-left: 10px;
  font-size: 22px;
}

.invitationPage form .invitation button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.invitationPage form .list-container h4 {
  padding-left: 10px;
}

.invitationPage form .invitation-btn {
  display: block;
  margin: 32px auto;
  width: 240px;
  padding: 10px 0;
  background-color: #1877f2;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}