@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&family=Kaushan+Script&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/***
 *      ___ ___ ___ _  _ _   _ ___   ___  _   ___ ___ 
 *     / __|_ _/ __| \| | | | | _ \ | _ \/_\ / __| __|
 *     \__ \| | (_ | .` | |_| |  _/ |  _/ _ \ (_ | _| 
 *     |___/___\___|_|\_|\___/|_|   |_|/_/ \_\___|___|
 *                                                    
 */                                                                

.signupPage {
  background-color: #F5E3CD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.head-container h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 36px;
  text-align: center;
}

.head-container p {
  text-align: center;
  color: rgba(0,0,0,0.64);
}

.signupPage form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.signupPage form input {
  height: 38px;
  width: 300px;
  border: 1px solid #A2A2A2;
  padding: 10px;
  font-size: 16px;
}

.signupPage form input::placeholder {
  color: #686363;
  font-size: 16px;
}

.signupPage .btn-container button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 24px;
  width: 240px;
  padding: 10px 0;
  background-color: #1877F2;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}

.signupPage .to-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupPage .to-login-container p {
  margin-bottom: 0;
}

.signupPage .to-login-container a {
  text-decoration: none;
  color: #1877F2;
  font-weight: 600;
}
